//
//  FishLampTargetMac32.xcconfig
//  FLCore
//
//  Created by Mike Fullerton on 11/13/12.
//  Copyright (c) 2013 GreenTongue Software LLC, Mike Fullerton.. 
//  The FishLamp Framework is released under the MIT License: http://fishlamp.com/license 
//

#include "FishLamp/XcodeConfigIncludes/FishLamp-OSX-32.xcconfig"
#include "FishLamp/XcodeConfigIncludes/FishLamp-MRC.xcconfig"

#include "FishLamp/XCodeConfigIncludes/FishLamp-Preprocessor.xcconfig"
#include "FishLamp/FishLampPaths.xcconfig"

FISHLAMP_HEADER_SEARCH_PATHS = $(FISHLAMP_OSX)

HEADER_SEARCH_PATHS= $(inherited) $(FISHLAMP_HEADER_SEARCH_PATHS)

#include "SharedTargetSettings.xcconfig"

