//
//  OSXCommandLine.xcconfig
//  Fishlamp
//
//  Created by Mike Fullerton on 6/15/12.
//  Copyright (c) 2012 GreenTongue Software. All rights reserved.
//

#include "XcodeConfigs/LibFishLampCoreShared.xcconfig"

ARCHS = $(ARCHS_STANDARD_64_BIT)
SUPPORTED_PLATFORMS = macosx
SDKROOT = macosx
CLANG_ENABLE_OBJC_ARC = YES
