//
//  FishLampDebug.xcconfig
//  Fishlamp
//
//  Created by Mike Fullerton on 6/16/12.
//  Copyright (c) 2012 GreenTongue Software. All rights reserved.
//


FISHLAMP_DEBUG = DEBUG=1 
FISHLAMP_TEST = TEST=1

GCC_OPTIMIZATION_LEVEL = 0
ONLY_ACTIVE_ARCHL = YES
RUN_CLANG_STATIC_ANALYZER = NO
COPY_PHASE_STRIP = NO

