//
//  FishLampPaths.xcconfig
//  Fishlamp
//
//  Created by Mike Fullerton on 6/16/12.
//  Copyright (c) 2013 GreenTongue Software LLC, Mike Fullerton. 
//  The FishLamp Framework is released under the MIT License: http://fishlamp.com/license 
//

// YOU *** MUST *** DEFINE FISHLAMP before including this file.
// EXAMPLE: 
// FISHLAMP = ../FISHLAMP

// FISHLAMP PATHS

FISHLAMP_CORE_SEARCH_PATH               = $(FISHLAMP)/Core/Classes/**
FISHLAMP_IOS_SEARCH_PATH                = $(FISHLAMP_CORE_SEARCH_PATH) $(FISHLAMP)/iOS/Classes/** $(FISHLAMP)/iOS/iOSPhoto/**
FISHLAMP_OSX_SEARCH_PATH                = $(FISHLAMP_CORE_SEARCH_PATH) $(FISHLAMP)/OSX/Classes/CocoaApp/** $(FISHLAMP)/OSX/CommandLineTool/Classes/**



