//
//  FishLampTargetMac.xcconfig
//  
//
//  Created by Mike Fullerton on 11/13/12.
//
//
#include "FishLamp/XcodeConfigIncludes/FishLampTarget-OSX-64.xcconfig"
#include "FishLamp/FishLampPaths.xcconfig"

FISHLAMP_HEADER_SEARCH_PATHS = $(FISHLAMP_OSX)
HEADER_SEARCH_PATHS= $(inherited) $(FISHLAMP_HEADER_SEARCH_PATHS)

#include "SharedTargetSettings.xcconfig"

