//
//  LibFishLampCoreShared.xcconfig
//  FishLampCore
//
//  Created by Mike Fullerton on 10/27/12.
//  Copyright (c) 2013 GreenTongue Software LLC, Mike Fullerton.. 
//  The FishLamp Framework is released under the MIT License: http://fishlamp.com/license 
//

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = FluffyTool-Prefix.pch

DEPLOYMENT_POSTPROCESSING = YES
DEPLOYMENT_LOCATION = YES
INSTALL_MODE_FLAG = 755
DSTROOT = /
INSTALL_PATH = /Developer/FishLamp

PRODUCT_NAME = fluffy

//BUNDLE_LOADER = $(BUILT_PRODUCTS_DIR)/FluffyTool
//TEST_HOST = $(BUILT_PRODUCTS_DIR)/FluffyTool
//GCC_SYMBOLS_PRIVATE_EXTERN = NO


//HEADER_SEARCH_PATHS = $(inherited) ../CommandLineTool/Classes/** FluffyTool/**

