<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FishLampCore-All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>FishLampCore-OSX-32-64-MRC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>FishLampCore-OSX-32-MRC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>FishLampCore-OSX-64-ARC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>FishLampCore-OSX-64-MRC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>FishLampCore-iOS-ARC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27048B70161CB58600C38ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270D1AC9165460D900E1B451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270D1B26165461A900E1B451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270DFDC515E99BAC00ED5FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273148B9165328400027850D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276CDAAF15E5463E000A5CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276CE76515E54771000A5CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276CE94615E55601000A5CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276CEC2515E556EB000A5CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43A7B15CDCC1B001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43A9315CDCC52001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43AA215CDCC73001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43AB315CDCC89001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43AC315CDCCCB001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CBBE2916768BA600753D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CC518015F907EC00A3B4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27DF7BF815CF27E9009DDC8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27DF867D15CF2D67009DDC8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27EF7B34165A9C1E00EB7949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
