//
//  FishLampiOS.xcconfig
//  FishLampiOS
//
//  Created by Mike Fullerton on 7/10/12.
//  Copyright (c) 2013 GreenTongue Software LLC, Mike Fullerton. 
//  The FishLamp Framework is released under the MIT License: http://fishlamp.com/license 
//

ARCHS = armv7 armv7s
FLROOT = iphoneos
SUPPORTED_PLATFORMS = iphonesimulator iphoneos
CLANG_ENABLE_OBJC_ARC = YES
COPY_PHASE_STRIP = NO

IPHONEOS_DEPLOYMENT_TARGET = 5.0

FISHLAMP_TARGET = FISHLAMP_TARGET_IOS=1

FISHLAMP_PREPROCESSOR_DEFINITIONS = FISHLAMP_TARGET=1 $(FISHLAMP_TARGET) $(FISHLAMP_SETTINGS) $(FISHLAMP_TEST) $(FISHLAMP_DEBUG)
