
FISHLAMP = ../../../../../FishLamp

FISHLAMP_CLASSES = ../../../../../FishLamp/Classes

FISHLAMP_ALL = $(FISHLAMP_CLASSES)/**

FISHLAMP_CORE = $(FISHLAMP_CLASSES)/Core/**

FISHLAMP_COMPATIBILITY = $(FISHLAMP_CLASSES)/Compatibility/** $(FISHLAMP_CORE)

FISHLAMP_COCOA = $(FISHLAMP_CLASSES)/Cocoa/** $(FISHLAMP_CLASSES)/Dependencies/** $(FISHLAMP_CLASSES)/External/** $(FISHLAMP_CLASSES)/Deprecated/** $(FISHLAMP_COMPATIBILITY)

FISHLAMP_COCOA_UI = $(FISHLAMP_CLASSES)/CocoaUI/** $(FISHLAMP_COCOA)

// OSX
FISHLAMP_OSX = $(FISHLAMP_CLASSES)/OSX/** $(FISHLAMP_COCOA_UI)

// IOS
FISHLAMP_IOS = $(FISHLAMP_CLASSES)/iOS/** $(FISHLAMP_COCOA_UI)

// Addons
FISHLAMP_CONNECT = $(FISHLAMP_CLASSES)/Connect/**

FISHLAMP_SUBMODULES = $(FISHLAMP)/Submodules/**

// some experimental cocoas2d support
FISHLAMP_COCOS2D = $(FISHLAMP)/Submodules/cocos2d

// need to seperate ios and mac
FISHLAMP_COCOS2D_MAC = $(FISHLAMP_COCOS2D)/cocos2d $(FISHLAMP_COCOS2D)/cocos2d/Platforms $((FISHLAMP_COCOS2D)/cocos2d/Platforms/Mac 
FISHLAMP_ANIMATION_MAC = $(FISHLAMP_CLASSES)/Animation/** $(FISHLAMP_COCOS2D_MAC) $(FISHLAMP_COCOS2D)/external/**
