//
//  LibFishLampCoreShared.xcconfig
//  FishLampCore
//
//  Created by Mike Fullerton on 10/27/12.
//  Copyright (c) 2012 Mike Fullerton. All rights reserved.
//

HEADER_SEARCH_PATHS = $(inherited) $(Classes/**) 

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Classes/FishLampCore-Prefix.pch
