//
//  FishLampProjectSettingsDebug.xcconfig
//  FishLampCore
//
//  Created by Mike Fullerton on 11/13/12.
//  Copyright (c) 2012 Mike Fullerton. All rights reserved.
//

#include "FishLamp/XcodeConfigIncludes/FishLampSettings.xcconfig"
#include "FishLamp/XcodeConfigIncludes/FishLampSettingsDebug.xcconfig"