//
//  Created by Mike Fullerton on 7/11/12.
//  Copyright (c) 2012 GreenTongue Software. All rights reserved.
//

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Cocos2d/Cocos2d-Prefix.pch
HEADER_SEARCH_PATHS= $(inherited) $(FISHLAMP_COCOA_UI) $(FISHLAMP_ANIMATION_MAC)

MACH_O_TYPE = staticlib
EXECUTABLE_PREFIX = lib
EXECUTABLE_EXTENSION = a

GCC_TREAT_WARNINGS_AS_ERRORS = NO
CLANG_WARN_CONSTANT_CONVERSION = NO
CLANG_WARN_INT_CONVERSION = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_UNUSED_PARAMETER = NO

GCC_WARN_UNUSED_FUNCTION = NO
GCC_WARN_UNUSED_LABEL = NO
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = NO
GCC_WARN_UNUSED_VARIABLE = NO
WARNING_CFLAGS = 
GCC_WARN_SHADOW = NO
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_WARN_UNDECLARED_SELECTOR = NO
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = NO