//
//  OSXCommandLine.xcconfig
//  Fishlamp
//
//  Created by Mike Fullerton on 6/15/12.
//  Copyright (c) 2013 GreenTongue Software LLC, Mike Fullerton. 
//  The FishLamp Framework is released under the MIT License: http://fishlamp.com/license 
//

ARCHS = $(ARCHS_STANDARD_64_BIT)
SUPPORTED_PLATFORMS = macosx
SDKROOT = macosx
CLANG_ENABLE_OBJC_ARC = YES
MACOSX_DEPLOYMENT_TARGET = 10.7

COPY_PHASE_STRIP = NO

FISHLAMP_TARGET = FISHLAMP_TARGET_MAC=1

FISHLAMP_PREPROCESSOR_DEFINITIONS = FISHLAMP_TARGET=1 $(FISHLAMP_TARGET) $(FISHLAMP_SETTINGS) $(FISHLAMP_TEST) $(FISHLAMP_DEBUG)

FISHLAMP_HEADER_SEARCH_PATHS = $(FISHLAMP_OSX_SEARCH_PATH)

GCC_PREPROCESSOR_DEFINITIONS = $(INHERITED) $(FISHLAMP_PREPROCESSOR_DEFINITIONS)
HEADER_SEARCH_PATHS = $(inherited) $(Classes/**) $(FISHLAMP_HEADER_SEARCH_PATHS)
