body {
	background: silver;
	font-family: "menlo","tahoma", "Courier New", Courier, monospace;
	font-size: 12pt;	
	color: gray;
}

a {
	color: gray;
	text-decoration: none;
}

a:visited {
	color: gray;
}

a:hover {
	color: white;
	text-decoration: underline;
}

.outer {
	width: 100%;
	margin-top: 200px;
}

.inner {
	width: 400px;
    margin: 0px auto;
    text-align: center;

}

.logo {
	width:130px;
	height:18px;
    margin: 0px auto;
}

#lamp {
	width:306px;
	height:306px;
}
.lamp {
	width:306px;
	height:306px;
    margin: 0px auto;
}

.footer {
	position: absolute;
	height: 20px;
	width:100%;
	bottom:0;
	right:0;
	font-size: 12px;
}

.right-footer {
	text-align: right;
	padding-right: 6px;
	position: absolute;
	width:50%;
	height: 18px;
	bottom:0;
	right:0;

}

.left-footer {
	padding-left: 6px;
	position: absolute;
	bottom:0;
	left:0;
	width:50%;
	height: 18px;
}

.right-footer a {
	color: #444;
}

.right-footer a:hover {
	color:black;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.page-content {
	border: 1px solid #444;
	padding: 20px;
	background-color: white;
	font-size: .9em;
	color: black;
}

.page-content a {
	color: blue;
}

.page-content p {
/* 	margin-bottom: 10px; */
}

.page-content ul {
	margin: 10px;
}

.page-title {
	padding: 10px;
	font-size: 1.0em;
	font-weight: bold;
/* 	border-bottom: 1px solid #888; */
/* 	margin-bottom: 20px; */
	color: #eee;
}

.container {
}

.page {
	padding: 10px;
	background-color: #444;
}

blockquote p {
	font-size: .8em;
	font-style: italic;
}

blockquote {
	background-color: lightyellow;
	padding: 10px;
}
.page-footer {

	font-size:.6em;
	padding: 2px;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	height:18px;
}
.footer a {
	padding: 2px;
	margin: 0px;
	padding-left: 10px;
}
