//
//  FishLampTargetMac.xcconfig
//  
//
//  Created by Mike Fullerton on 11/13/12.
//
//

#include "FishLampBuildSupport/XcodeConfigIncludes/FishLamp-OSX-32-64.xcconfig"
#include "FishLampBuildSupport/XcodeConfigIncludes/FishLamp-MRC.xcconfig"
#include "FishLampBuildSupport/XCodeConfigIncludes/FishLamp-Preprocessor.xcconfig"
#include "FishLampBuildSupport/FishLampPaths.xcconfig"
#include "SharedTargetSettings.xcconfig"

//FISHLAMP_HEADER_SEARCH_PATHS = $(FISHLAMP_OSX)
//
//HEADER_SEARCH_PATHS= $(inherited) $(FISHLAMP_HEADER_SEARCH_PATHS)
