//
//  CocoaSharedConfig.xcconfig
//  FishLampCocoa
//
//  Created by Mike Fullerton on 4/2/13.
//  Copyright (c) 2013 GreenTongue Software LLC, Mike Fullerton. 
//  The FishLamp Framework is released under the MIT License: http://fishlamp.com/license 
//

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = ../Classes/FishLampCocoa-Prefix.pch
MACH_O_TYPE = staticlib
EXECUTABLE_PREFIX = lib
EXECUTABLE_EXTENSION = a
HEADER_SEARCH_PATHS= $(inherited) $(FISHLAMP_COCOA)
