//
//  FishLamp-Target.xcconfig
//  
//
//  Created by Mike Fullerton on 12/10/12.
//
//
#include "FishLampBuildSupport/XCodeConfigIncludes/_FL-Preprocessor.xcconfig"
#include "FishLampBuildSupport/_FishLampPaths.xcconfig"

FISHLAMP_HEADER_SEARCH_PATHS = $(FISHLAMP_IOS) $(FISHLAMP_IOS_PHOTO)
HEADER_SEARCH_PATHS= $(inherited) $(FISHLAMP_HEADER_SEARCH_PATHS)

#include "SharedTargetSettings.xcconfig"

