
FISHLAMP = ../../../FishLamp/Frameworks
FISHLAMP_ALL = $(FISHLAMP)/**
FISHLAMP_CORE = $(FISHLAMP)/Core/**
FISHLAMP_COMPATIBILITY = $(FISHLAMP)/Compatibility/** $(FISHLAMP_CORE)
FISHLAMP_COCOA = $(FISHLAMP)/Cocoa/** $(FISHLAMP)/Dependencies/** $(FISHLAMP)/External/** $(FISHLAMP)/Deprecated/** $(FISHLAMP_COMPATIBILITY)
FISHLAMP_COCOA_UI = $(FISHLAMP)/CocoaUI/** $(FISHLAMP_COCOA)
// OSX
FISHLAMP_OSX = $(FISHLAMP)/OSX/** $(FISHLAMP_COCOA_UI)
// IOS
FISHLAMP_IOS = $(FISHLAMP)/iOS/** $(FISHLAMP_COCOA_UI)
// Addons
FISHLAMP_CONNECT = $(FISHLAMP)/Connect/**
