//
//  FishLampProjectSettingsTest.xcconfig
//  FishLampCore
//
//  Created by Mike Fullerton on 11/13/12.
//  Copyright (c) 2012 Mike Fullerton. All rights reserved.
//

#include "FishLamp/XcodeConfigs/ProjectIncludes/FishLampSettings.xcconfig"
#include "FishLamp/XcodeConfigs/ProjectIncludes/FishLampSettingsTest.xcconfig"
