//
//  TargetSettingsShared.xcconfig
//  
//
//  Created by Mike Fullerton on 10/28/12.
//
//

FISHLAMP_PREPROCESSOR_DEFINITIONS = FISHLAMP_TARGET=1 $(FISHLAMP_TARGET) $(FISHLAMP_SETTINGS) $(FISHLAMP_TEST) $(FISHLAMP_DEBUG)

GCC_PREPROCESSOR_DEFINITIONS = $(INHERITED) $(FISHLAMP_PREPROCESSOR_DEFINITIONS)

// You can ovveride this in your project like this (this example adds MY_BUILD_SETTING)
// Just add this line to your target's xcconfig file, it ovverrides previous value.

// GCC_PREPROCESSOR_DEFINITIONS = $(INHERITED) $(FISHLAMP_PREPROCESSOR_DEFINITIONS) MY_BUILD_SETTING=1
