<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FishLampCocoa-OSX-32-64-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>FishLampCocoa-OSX-32-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>FishLampCocoa-OSX-64-ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>FishLampCocoa-OSX-64-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>FishLampCocoa-iOS-ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27048B70161CB58600C38ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273148B9165328400027850D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43AB315CDCC89001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43AC315CDCCCB001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CBBE2916768BA600753D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
