//
//  FishLampTargetiOS.xcconfig
//  
//
//  Created by Mike Fullerton on 11/13/12.
//
//

#include "FishLampBuildSupport/XcodeConfigIncludes/_FL-iOS.xcconfig"
#include "FishLampBuildSupport/XcodeConfigIncludes/_FL-ARC.xcconfig"
#include "FishLampBuildSupport/XCodeConfigIncludes/_FL-Preprocessor.xcconfig"
#include "FishLampBuildSupport/FishLampPaths.xcconfig"
#include "SharedTargetSettings.xcconfig"

//FISHLAMP_HEADER_SEARCH_PATHS = $(FISHLAMP_IOS) $(FISHLAMP_IOS_PHOTO)
//HEADER_SEARCH_PATHS= $(inherited) $(FISHLAMP_HEADER_SEARCH_PATHS)

