<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27E9D007175E4BD500BD6205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F1AF0B175FC29C0086E14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F1AF4F175FC34C0086E14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F1AF67175FC3530086E14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
