//
//  FishLampTargetMac.xcconfig
//  
//
//  Created by Mike Fullerton on 11/13/12.
//
//

#include "FishLampBuildSupport/FishLampIncludedConfig-OSX-64.xcconfig"
#include "FishLampBuildSupport/FishLampIncludedConfig-ARC.xcconfig"
#include "FishLampBuildSupport/FishLampIncludedConfig-Preprocessor.xcconfig"
#include "FishLampBuildSupport/FishLampPaths.xcconfig"
