

// change settings for all targets here.

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Posty/Posty-Prefix.pch
PRODUCT_NAME = posty

DEPLOYMENT_LOCATION = YES
DSTROOT = /
INSTALL_PATH = /Developer/FishLamp/

HEADER_SEARCH_PATHS = $(inherited) $(FISHLAMP_COMMAND_LINE_TOOL_SEARCH_PATH)

		
