<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FishLamp Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Help for FishLamp framework.">
    <meta name="author" content="Mike Fullerton. FishLamp Framework.">

    <!-- Le styles -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/styles.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
<!-- 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/bootstrap/ico/favicon.png">
 -->    
	 <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    <title>{{ page.title }}</title>



  </head>


  <body>
<div class="page-footer">Copyright (c) 2013 <a href="http://fishlamp.com">FishLamp</a>. <a href="http://r33b.net">All glory to the hypnotoad.</a>
	</div>

        <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://fishlamp.com">FishLamp</a>
<!-- 
          <a class="brand" href="/index.html">FishLamp</a>
 -->
          <div class="nav-collapse collapse">
            <ul class="nav" id="main-nav">
	             <li class="divider-vertical"></li>
				<li><a href="/index.html">Home</a></li>
                


                <li class="divider-vertical"></li>
                
                <li class="dropdown">
                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Classes
                        <b class="caret"></b>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="/code.html">Overview</a></li>
<!-- 						<li><a href="#">~~~~</a></li> -->
						<li><a href="/core.html">Core</a></li>
                        <li><a href="/cocoa.html">Cocoa</a></li>
<!-- 
                        <li><a href="/pages/clases/compatibility.html">Compatibility</a></li>
                        <li><a href="/pages/clases/connect.html">Connect</a></li>
                        <li><a href="/pages/clases/cocoaui.html">CocoaUI</a></li>
                        <li><a href="/pages/clases/osx.html">OSX</a></li>
                        <li><a href="/pages/clases/iOS.html">iOS</a></li>
                        <li><a href="/pages/clases/iOSPhoto.html">iOS Photo</a></li>
 -->
                    </ul>

                </li>
                
                <li class="divider-vertical"></li>

                <li class="dropdown">
                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Tools
                        <b class="caret"></b>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="/tools.html">Tools Overview</a></li>
<!-- 						<li><a href="#">~~~~</a></li> -->
                        <li><a href="/whittle.html">Whittle</a></li>
                        <li><a href="/packmule.html">PackMule</a></li>
<!-- 
                        <li><a href="/wingman/fluffy.html">Fluffy</a></li>
                        <li><a href="/wingman/cobble.html">Cobble</a></li>
 -->
                    </ul>

                </li>

                <li class="divider-vertical"></li>

                <li class="dropdown">
                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        General
                        <b class="caret"></b>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="/files.html">File and Folder Topology</a></li>
                    </ul>

                </li>


                <li class="divider-vertical"></li>

                <li class="dropdown">
                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Extras
                        <b class="caret"></b>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="/about.html">About This Site</a></li>
                        <li><a href="http://fishlamp.com/about">About FishLamp</a></li>
		                <li ><a href="http://www.fishlamp.com/contact/">Contact</a></li>
		                <li ><a href="http://www.fishlamp.com/license/">License</a></li>
                    </ul>

                </li>

                <li class="divider-vertical"></li>
                

<!-- TODO add search... -->
<!-- 

                <form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search">
</form>
 -->
                <li class="divider-vertical"></li>
                
            </ul>

          </div><!--/.nav-collapse -->
        </div>
        
      </div>
    </div>


    <div class="container">
	<div class="row">
			<div class="span8">
				<div class="page">
					<div class="page-title">{{ page.title }}</div>      
					<div class="page-content">{{ content }}</div>
			   </div>
			</div>
	</div>
    </div> <!-- /container -->


   	


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/bootstrap/js/jquery.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-dropdown.js"></script>

<!--     <script src="/assets/bootstrap/js/bootstrap-transition.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-alert.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-modal.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-scrollspy.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-tab.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-tooltip.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-popover.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-button.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-collapse.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-carousel.js"></script> -->
<!--     <script src="/assets/bootstrap/js/bootstrap-typeahead.js"></script> -->
  </body>
</html>
