//
//  FishLampTargetMac32.xcconfig
//  FLCore
//
//  Created by Mike Fullerton on 11/13/12.
//  Copyright (c) 2012 Mike Fullerton. All rights reserved.
//

#include "FishLampBuildSupport/XcodeConfigIncludes/_FL-OSX-32.xcconfig"
#include "FishLampBuildSupport/XcodeConfigIncludes/_FL-MRC.xcconfig"
#include "FishLampBuildSupport/XCodeConfigIncludes/_FL-Preprocessor.xcconfig"
#include "FishLampBuildSupport/FishLampPaths.xcconfig"
#include "SharedTargetSettings.xcconfig"

//FISHLAMP_HEADER_SEARCH_PATHS = $(FISHLAMP_OSX)
//HEADER_SEARCH_PATHS= $(inherited) $(FISHLAMP_HEADER_SEARCH_PATHS)
