<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaTestTool-64-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>FishLampCocoa-OSX-32-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>FishLampCocoa-OSX-3264-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>FishLampCocoa-OSX-64-ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>FishLampCocoa-OSX-64-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>FishLampCocoa-iOS-ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FishLampCocoaFramework-OSX-32-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FishLampCocoaFramework-OSX-3264-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FishLampCocoaFramework-OSX-64-ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FishLampCocoaFramework-OSX-64-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FishLampCocoaTests-iOS-ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>FishLampCocoaTestsFramework-OSX-32-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>FishLampCocoaTestsFramework-OSX-3264-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>FishLampCocoaTestsFramework-OSX-64-ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>FishLampCocoaTestsFramework-OSX-64-MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27048B70161CB58600C38ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270D1AC9165460D900E1B451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270D1B26165461A900E1B451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270DFDC515E99BAC00ED5FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273148B9165328400027850D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276CDAAF15E5463E000A5CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276CE76515E54771000A5CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276CE94615E55601000A5CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>276CEC2515E556EB000A5CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43A7B15CDCC1B001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43A9315CDCC52001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43AA215CDCC73001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43AB315CDCC89001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A43AC315CDCCCB001CB13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C3CE1F170C9759004BF7DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C3CE34170C97FB004BF7DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C3CE3E170C9800004BF7DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C3CE48170C980B004BF7DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C62AD1170B37EC0093F260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C62B40170B441A0093F260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C62B7A170B442A0093F260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C62BB4170B44380093F260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C62BEE170B44450093F260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C62D38170B45C80093F260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CBBE2916768BA600753D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CC518015F907EC00A3B4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27DF7BF815CF27E9009DDC8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27DF867D15CF2D67009DDC8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E71934170CEC4200DDFBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E7194C170CEC4800DDFBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E71956170CEC4C00DDFBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E71960170CEC4D00DDFBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27EC4D36170C7F52008BF04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27EC4D48170C7F8A008BF04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27EC4D55170C7F97008BF04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27EC4D62170C7F9A008BF04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27EF7B34165A9C1E00EB7949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
